* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(https://i.pinimg.com/474x/92/fe/c8/92fec8954b389f2fcedba2be2a43f730.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: gray;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 5px;
  height: 12px;
}

.navbar .navbar-logo {
  font-size: 2rem;
  color: black;
}
.navbar .navbar-logo span {
  color: #0e595e;
}
.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: #0e595e;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid black;
  transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: #0e595e;
}
#hamburger-menu {
  display: none;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
}
.hero-btn:hover {
  border: 1px solid;
  background: #194376;
  transition: 1s;
}

/*------SERVICES-----*/
#Services {
  /* min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(https://i.pinimg.com/474x/42/17/74/421774382f2c767d2ce709352f0ab25e.jpg);
  background-position: center;
  background-size: cover;
  position: relative; */
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
#Services h1 {
  color: #041334;
  font-size: 50px;
  font-weight: 600;
}
#Services p {
  color: black;
  font-size: 13px;
  line-height: 15px;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Services-col {
  flex-basis: 31%;
  background: #1a9ba4;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 15px 7px;
  box-sizing: border-box;
  text-align: center;
  transition: 1s;
  margin: 13px;
}
.Services-col:hover {
  transform: scale(1.1);
}

.Services-col h3 {
  margin-bottom: 10px 0;
  text-align: center;
  font-weight: 600;
  color: black;
}
.Services-col p {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 100;
  color: black;
}
.Services-img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

/*------FITUR-----*/
 #Fitur {
  width: 92%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  color: #041334;
}
p {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Fitur-col {
  flex-basis: 31%;
  background: #1a9ba4;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 15px 7px;
  box-sizing: border-box;
  text-align: center;
  transition: 1s;
}
.Fitur-col:hover {
  transform: scale(1.1);
}

.Fitur-col h3 {
  margin-bottom: 10px 0;
  text-align: center;
  font-weight: 600;
}
.Fitur-img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

/*------HARGA-----*/


/*CONTACT */
.Contact h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color:#041334 ;
}
.Contact p{
  text-align: center;
  
}
.part {
  background-color: #1a9ba4;
  height: 380px;
  width: 100%;
  border-radius: 70px;
}
.part-Main {
  display: flex;
  padding: 59px;
}
.part-Section p {
  font-size: 1rem;
  line-height: 28px;
  color: #041334;
  margin-top: 20px;
  padding-right: 50px;
  font-weight: bold;
}
.part-social-links i {
  margin-top: 11px;
}
.social_media_icon {
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: black;
  margin-right: 7px;
}
.social_media_icon:hover {
  background-color:#128389 ;
  color: black;
}
.Section {
  width: 80%;
}
.logo span{
  color: white;
}

.Section h3 {
  color: #041334;
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 57px;
}

.Detail li a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
  color: #041334;
  padding-right: 40px;
  text-decoration: none;
  padding-left: 3px;
}

.Detail li a:hover {
  text-decoration: underline;
}
.Detail li i {
  font-size: 1rem;
  line-height: 28px;
  color: #041334;
  padding-right: 5px;
}
.Detail li {
  list-style: none;
  margin-bottom: 4px;
}

.Hubungi li {
  font-weight: bold;
  list-style: none;
  color: #041334;
  margin-bottom: 17px;
  line-height: 24px;
}

.Hubungi li i {
  color: black;
  font-size: 1rem;
  margin-right: 12px;
}

.form input {
  display: block;
  width: 70%;
  padding: 13px 18px;
  font-size: 15px;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 20px;
}

.form input:focus {
  outline: none;
}
.form a {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 131px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  line-height: 40px;
}

.form a:hover {
  background-color: #37a4ac;
}

@media only screen and (max-width: 450px) {
  .form a {
    padding: 49px 5px; /* Sesuaikan dengan padding yang sesuai */
    font-size: 14px; /* Sesuaikan dengan ukuran font yang sesuai */
    line-height: 30px; /* Sesuaikan dengan line-height yang sesuai */
  }
}

/* Untuk layar dengan lebar maksimum 768px */
@media only screen and (max-width: 768px) {
  .form a {
    padding: 12px 10px; /* Sesuaikan dengan padding yang sesuai */
    font-size: 16px; /* Tetapkan ukuran font */
    line-height: 45px; /* Tetapkan line-height */
  }
}



#location {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*FOOTER*/
#location iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
}





/*MEDIA QUERIES*/
/*LAPTOP*/
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/*TABLET*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
  /*NAVBAR*/
  #hamburger-menu {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: yellow;
    width: 30rem;
    height: 100vh;
  }
  .text-box {
    width: 80%;
  }
/*SERVICES*/
  .row {
    flex-wrap: wrap; /* Mengatur wrap pada flex container agar elemen bisa turun ke baris baru */
  }

  .Services-col {
    flex-basis: calc(50% - 26px); /* Setiap kolom memakan setengah lebar container, dengan margin di antaranya */
  }

  /*FITUR*/
  .row {
    flex-wrap: wrap; /* Mengatur wrap pada flex container agar elemen bisa turun ke baris baru */
  }
  .Fitur-col {
    flex-basis: calc(
      50% - 26px
    ); /* Setiap kolom memakan setengah lebar container, dengan margin di antaranya */
  }
}



/*HANDPONE*/
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  /*Navbar*/
  #hamburger-menu {
    display: inline-block;
  }
  .navbar-nav {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: yellow;
  width: 30rem;
  height: 100vh;
  }
  .text-box {
    width: 90%;
  }
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 14px;
  }
  .hero-btn {
    padding: 10px 24px;
  }

  /*SERVICES*/
  .Services-col {
     /* Setiap kolom memakan setengah lebar container, dengan margin di antaranya */
  }
  .Services-img {
    width: 100%; /* Mengatur lebar gambar menjadi penuh pada layar dengan lebar maksimum 450px */
    height: auto; /* Menjaga aspek ratio gambar */
    border-radius: 20px; /* Menghapus border-radius pada gambar */
  }
  .Services-col {
   flex-basis: 100%; /* Setiap kolom memakan satu baris penuh */
   flex-basis: calc( 50% - 26px);
  }

  /*FITUR*/
  .Fitur-col {
   /* Setiap kolom memakan setengah lebar container, dengan margin di antaranya */
  }
  .Fitur-img {
    width: 100%; /* Mengatur lebar gambar menjadi penuh pada layar dengan lebar maksimum 450px */
    height: auto; /* Menjaga aspek ratio gambar */
    border-radius: 20px; /* Menghapus border-radius pada gambar */
  }
  .Fitur-col {
    flex-basis: 100%; /* Setiap kolom memakan satu baris penuh */
    flex-basis: calc( 50% - 26px ); 
  }
}
